<html>

<head>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>
body { 
  font-size: 14px;
  color: #222; 
  background: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 20px;
  line-height: 1.2;
}
h1,h2 { font-weight: normal; }
h1    { font-size: 2.5em; margin-bottom: 1em; }
h2    { font-size: 1.5em; margin-top: 1em; margin-bottom: 0.75em; }
p     { margin: 0 0 0.75em; }
ul    { padding: 0; margin: 1em 0 1em 0; list-style-type: disc; }
ul li { margin: 0 0 0.25em 2.5em; }
dl    { margin: 0 0 1em 0; }
dl dt { font-weight: bold; margin: 0 0 0.25em 0; }
dd    { margin: 0 0 0.25em 1.5em; }
table { margin: 1em 0 1em 0; width: 100%; }
th    { font-weight: bold; text-align: right; }
th,td { padding: 0 0.75em 0.25em 0.75em; margin: 0; font-size: 12px; }
</style>
</head>

<body>

<h1>ProcessOne Contribution License Agreement</h1>

<p>This Contribution Licence Agreement (this “<b>Agreement</b>”) governs the contribution(s) you make to ProcessOne Products and sets out the intellectual property rights You grant to ProcessOne regarding the contributed materials.</p>

<p>“You” and “Your” refer to the individual or legal entity contributing to the Product, as identified at the end of this Agreement. By signing this Agreement, You agree to be bound by the terms of this Contribution License Agreement. If the individual who signs this document enters this Agreement on behalf of an entity, he represents that he has authority to bind that entity. If the individual who signs the license does not have such authority or You do not agree to the terms of this Agreement, neither the individual nor the entity may contribute to (or use) the Product.</p>

<p>This Agreement is a binding legal agreement between You and ProcessOne. It covers any and all Contributions made or that will be made by You.</p>

<h2>1. Definitions</h2>

<p>“Contribution” or “contributed materials” means any source code, object code, patch, tool, sample, graphic, specification, manual, documentation, comments, benchmark or any other material posted or submitted by You to ProcessOne for inclusion in, or documentation of, a Product. For the purposes of this definition, “submitted” means any form of electronic, verbal, or written communication sent to ProcessOne or its representatives, including but not limited to communication on electronic mailing lists, source code control systems, and issue tracking systems that are managed by, or on behalf of, ProcessOne for the purpose of discussing and improving ProcessOne Products.</p>

<p>“(ProcessOne) Product”: means a product owned, distributed or managed by ProcessOne.</p>

<h2>2. Grant of Copyright License</h2>

<p>Subject to the terms and conditions of this Agreement, You hereby grant to ProcessOne and to licensees and transferees of any Product a perpetual, worldwide, non-exclusive, no-charge, royalty-free, irrevocable license to use, represent, exploit, reproduce, modify, adapt, decompile, interface, prepare derivative works of, display, perform, broadcast, sublicense and distribute Your Contributions and such derivative works, as well as the Product, in whole or in part, in any way, by any process, for their sole benefit or for third parties’ benefit. This includes, at ProcessOne’s option, the right to sublicense all or part of these rights to third parties, through multiple levels of sublicenses or other licensing arrangements.</p>

<p>You transfer, as necessary, to ProcessOne the right to file any intellectual property rights relevant to protect Your Contributions and derivative works on behalf of ProcessOne or to allow third party to do so. You agree that ProcessOne may especially register a copyright in Your Contributions and exercise all ownership rights associated with them.</p>

<p>You also grant ProcessOne the right to retrocede to third parties the rights transferred hereunder, as well as the creations resulting from the exercise of the rights transferred, fully or partially, in any form whatsoever, temporarily or permanently, free of charge or in return of remuneration.  The above-mentioned rights are for exploitation on any medium, current or future, known or unknown, as well as any telecommunication network.</p>

<p>For the purposes of this section, “perpetual” means the legal term of protection of intellectual property rights attached to the relevant Contributions, as acknowledged by current or future laws. In the event of applicability of several legal regimes, the longest term of protection shall apply to the relevant Creations.</p>

<h2>3. Grant of Patent License</h2>

<p>You hereby grant to ProcessOne and to ProcessOne’s licensees and transferees a perpetual, worldwide, non-exclusive, no-charge, royalty-free, irrevocable patent license to make, have made, use, offer to sell, sell, import, and otherwise transfer the Contributions, in whole or in part, alone or in combination with or included in any Product, where such license applies only to those patent claims licensable by You that are necessarily infringed by Your Contribution(s) alone or by combination of Your Contribution(s) with the Product to which such Contribution(s) was submitted.</p>

<h2>4. Representations and warranties</h2>

<p>You represent that you are legally entitled to grant the above license.</p>

<p>If your employer(s) has rights to intellectual property that You create that includes your Contributions, You represent and warrant that that You have received permission to make Contributions on Your behalf and that your employer has waived such rights for your Contributions to ProcessOne.</p>

<p>You represent that each of Your Contributions is Your original creation. You represent that Your Contribution submissions include complete details of any third-party license or other restriction (including, but not limited to, related patents and trademarks) of which you are personally aware and which are associated with any part of Your Contributions.</p>

<p>You are not expected to provide support for Your Contributions, except to the extent You desire to provide support. You may provide support for free, for a fee, or not at all.</p>

<p>You agree that You will not assert any moral rights, nor other rights, in Your Contributions against ProcessOne and ProcessOne’s licensees and transferees.</p>

<p>You agree to notify ProcessOne of any facts or circumstances of which you become aware that would make these representations inaccurate in any respect.</p>

<h2>5. Miscellaneous</h2>

<p>Each party reserves all rights not expressly granted in this Agreement.</p>

<p>You acknowledge and agree that Information about Your Contributions may be disclosed publicly, including Your name/entity and other related information.</p>

<p>This Agreement represents the full agreement between You and ProcessOne and replaces any prior agreement.</p>

<p>ProcessOne may assign its rights, duties and obligations pursuant to this Agreement.</p>

<p>The Agreement is, in all respects, be governed by and construed exclusively in accordance with the laws of France. Any dispute arising from or relating to the Agreement shall be submitted to the courts of <b>PARIS</b>.</p>

<p>&nbsp;</p>

<p>I am signing on behalf of myself as an individual and no other person or entity, including my employer, has or will have rights with respect to my contributions. If the legal entity identified below has any right on my contributions, I certify that I have the legal authority to contractually bind this entity.</p>

<table>
  <tr>
    <th>Username</th>
    <td><%= username %></td>
  </tr>
  <tr>
    <th>Full Name</th>
    <td><%= name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= email %></td>
  </tr>
  <tr>
    <th>Company</th>
    <td><%= company %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= Time.now.strftime('%m/%d/%Y') %></td>
  </tr>
</table>

</body>
</html>
